*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.header{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between; 
    background-color: transparent;
}
.image{
    width: 60%;
    height: 140px;
    display: flex;
    align-items: center;
    background-color: transparent;
}
.image img{
    width: 100%;
    height: 130px;
    object-fit: contain;
    cursor: pointer;
}
.btn{
    width: 30%;
    gap: 5px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}
.btn .btn-top{
    width: 40%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    height: 40px;
    transition: .4s;
    background-color: rgb(253, 105, 60);
}
.btn .btn-top:hover{
    width: 40%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    height: 40px;
    background-color: rgb(37, 202, 64);
}
.btn-list{
    width: 15%;
    position: absolute;
    top: 115px;
    height: 150px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px 0px grey;
    background-color: rgb(231, 229, 226);
    position: fixed;
    z-index: 1;
    display: none;
}
.btn-btm{
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: black;
    background-color: transparent;
    transition: .3s;
}
.btn:hover .btn-list{
    display: block;
}
.btn-btm:hover{
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
    background-color: rgb(37, 202, 64);
}
/* header-nav-links */
.nav-links{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: transparent; */
}
.links{
    width: 90%;
    height: 50px;
    gap: 25px;
    align-items: center;
    display: flex;
    /* background-color: transparent;  */
}
.links a{
    text-decoration: none;
    color: black;
    align-items: center;
}
