*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.header{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between; 
    background-color: transparent;
}
.image{
    width: 60%;
    height: 140px;
    display: flex;
    align-items: center;
    background-color: transparent;
}
.image img{
    width: 100%;
    height: 130px;
    object-fit: contain;
    cursor: pointer;
}
.btn{
    width: 30%;
    gap: 5px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}
.btn .btn-top{
    width: 40%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    height: 40px;
    transition: .4s;
    background-color: rgb(253, 105, 60);
}
.btn .btn-top:hover{
    width: 40%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    height: 40px;
    background-color: rgb(37, 202, 64);
}
.btn-list{
    width: 15%;
    position: absolute;
    top: 115px;
    height: 150px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px 0px grey;
    background-color: rgb(231, 229, 226);
    position: fixed;
    z-index: 1;
    display: none;
}
.btn-btm{
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: black;
    background-color: transparent;
    transition: .3s;
}
.btn:hover .btn-list{
    display: block;
}
.btn-btm:hover{
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
    background-color: rgb(37, 202, 64);
}
/* header-nav-links */
.nav-links{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.div1{
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.div2{
    width: 6%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}
.div2 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.div3{
    width: 8%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: palegreen; */
}
.div3 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.div4{
    width: 13%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(82, 82, 45); */
}
.div4 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.div5{
    width: 13%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(45, 175, 103); */
}
.div5 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.div6{
    width: 12%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(79, 43, 165); */
}
.div6 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.div7{
    width: 6%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(107, 8, 46); */
}
.div7 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.div8{
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(13, 105, 158); */
}
.div8 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.div9{
    width: 7%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(218, 41, 41); */
}
.div9 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.div10{
    width: 6%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(113, 108, 128); */
}
.div10 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}





